<section class="webrain container-fluid container height-40 vertical-center" style="background-color: #242831; color: ; background-image: url();">
    <div class="row">

            <div class="parallax bgCover col-md-6 col-sm-12 col-xs-12 vertical-center" style="background-color: ; color: ; background-image: url();">
                <div class="row">

                    <div class="content  transform-uppercase weight-700" style="background-color: ; color: #fff; background-image: url();">

                          Vitamin

                    </div>

                    <div class="content " style="background-color: ; color: #818791; background-image: url();">

                          Od 2005 roku z sukcesem oferujemy usługi tworzenia i utrzymania aplikacji internetowych i mobilnych dla firm i instytucji. Wiedza i doświadczenie naszego zespołu projekt managerów, architektów systemów, grafików, programistów i testerów umożliwia realizację wysokiej jakości aplikacji wspierających funkcje i procesy biznesowe.

                    </div>

                </div>
            </div>

            <div class="parallax bgCover col-md-2 col-sm-12 col-xs-12 vertical-center" style="background-color: ; color: ; background-image: url();">
                <div class="row">

                    <div class="content  transform-uppercase weight-700" style="background-color: ; color: #fff; background-image: url();">

                          Menu

                    </div>

                    <div class="content " style="background-color: ; color: #818791; background-image: url();">

                        <ul class="list-unstyled">

                            <li><a href="/onas/">O nas</a></li>

                            <li><a href="/uslugi/">Usługi</a></li>

                            <li><a href="/projekty/">Projekty</a></li>

                            <li><a href="/technologie/">Technologie</a></li>

                            <li><a href="/zespol/">Zespół</a></li>

                            <li><a href="/standardy/">Standardy</a></li>

                            <li><a href="/kontakt/">Kontakt</a></li>

                        </ul>

                    </div>

                </div>
            </div>

            <div class="parallax bgCover col-md-4 col-sm-12 col-xs-12 vertical-center" style="background-color: ; color: ; background-image: url();">
                <div class="row">

                    <div class="content  transform-uppercase weight-700" style="background-color: ; color: #fff; background-image: url();">

                          Kontakt

                    </div>

                    <div class="content " style="background-color: ; color: #818791; background-image: url();">

                          ul. Szczecińska 11/12<br>05-300 Mińsk Mazowiecki<br>tel. +48 22 250 22 77<br>biuro(at)vitamin.pl

                    </div>

                </div>
            </div>

    </div>
</section>
