<nav class="webrain navbar navbar-default navbar-fixed-top space-20 weight-400" style="background-color: ; color: ; background-image: url(/);">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Vitamin</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">




      <ul class="nav navbar-nav navbar-right">

        <li><a href="/o-nas/">O nas</a></li>

        <li><a href="/uslugi/">Usługi</a></li>

        <li><a href="/projekty/">Projekty</a></li>

        <li><a href="/technologie/">Technologie</a></li>

        <li><a href="/zespol/">Zespół</a></li>

        <li><a href="/standardy/">Standardy</a></li>

        <li><a href="/kontakt/">Kontakt</a></li>

      </ul>
    </div>
  </div>
</nav>
