// BACKGROUND EFFECTS

.parallax {
  background-attachment: fixed;
  background-position: center;
}

.bgCover {
  background-size: cover;
}
// BACKGROUND POSITION

.bg-leftTop {
  background-position: left top;
}

.bg-leftCenter {
  background-position: left center;
}

.bg-leftBottom {
  background-position: left bottom;
}

.bg-rightTop {
  background-position: right top;
}

.bg-rightCenter {
  background-position: right center;
}

.bg-rightBottom {
  background-position: right bottom;
}

.bg-centerTop {
  background-position: center top;
}

.bg-center {
  background-position: center center;
}

.bg-centerBottom {
  background-position: center bottom;
}
// END OF BACKGROUND POSITION
// BACKGROUND REPEAT

.repeat-repeat-xy {
  background-repeat: repeat;
}

.repeat-horizontal {
  background-repeat: repeat-x;
}

.repeat-vertical {
  background-repeat: repeat-y;
}

.repeat-no-repeat {
  background-repeat: no-repeat;
}
// END OF BACKGROUND REPEAT
// BACKGROUND CLIP

.clip-border-box {
  background-clip: border-box;
}

.clip-padding-box {
  background-clip: padding-box;
}

.clip-content-box {
  background-clip: content-box;
}
// END OF BACKGROUND CLIP
// BACKGROUND ORIGIN

.origin-content-box {
  background-origin: content-box;
}

.origin-border-box {
  background-origin: border-box;
}

.origin-padding-box {
  background-origin: padding-box;
}
// END OF BACKGROUND ORIGIN
// END OF BACKGROUND EFFECTS
