// FILTERS
// BLEND MODES

.filter-multiply {
  background-blend-mode: multiply;
}

.filter-screen {
  background-blend-mode: screen;
}

.filter-overlay {
  background-blend-mode: overlay;
}

.filter-darken {
  background-blend-mode: darken;
}

.filter-lighten {
  background-blend-mode: lighten;
}

.filter-color-dodge {
  background-blend-mode: dodge;
}

.filter-saturation {
  background-blend-mode: saturation;
}

.filter-color {
  background-blend-mode: color;
}

.filter-luminosity {
  background-blend-mode: luminosity;
}
// END OF BLEND MODES
// MAIN FILTER
@for $i from 0 through 10 {
  .filter-blur-#{$i}0 {
    filter:blur(#{$i}0px);
  }
}
@for $i from 0 through 10 {
  .filter-brightness-#{$i}0 {
    filter:brightness(percentage($i/100*10));
  }
}

.filter-contrast {}

.filter-grayscale {}

.filter-brightness {}

.filter-hue-rotatte {}

.filter-invert {}

.filter-saturate {}

.filter-sepia {}
// END OF MAIN FILTER
// END OF FILTERSnormal	This is default. Sets the blending mode to normal	Play it »
