[class*=' icon-'] i {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  text-align: center;
}

$max: 200;
$step: 5;
@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1)*$step;
  .iconSize-#{$value} i {
    min-width: #{$value}px;
    min-height: #{$value}px;
  }
}



$max: 100;
$step: 2;
@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1)*$step;
  .iconPadding-#{$value} i {
    padding: #{$value}px;
  }
}

$max: 100;
$step: 2;
@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1)*$step;
  .iconMargin-#{$value} i {
    margin: #{$value}px #{$value}px #{$value}px 0;
  }
}

[class*=' icon-'].icon-glass i:before {
  content: "\f000";
}

[class*=' icon-'].icon-music i:before {
  content: "\f001";
}

[class*=' icon-'].icon-search i:before {
  content: "\f002";
}

[class*=' icon-'].icon-envelope-o i:before {
  content: "\f003";
}

[class*=' icon-'].icon-heart i:before {
  content: "\f004";
}

[class*=' icon-'].icon-star i:before {
  content: "\f005";
}

[class*=' icon-'].icon-star-o i:before {
  content: "\f006";
}

[class*=' icon-'].icon-user i:before {
  content: "\f007";
}

[class*=' icon-'].icon-film i:before {
  content: "\f008";
}

[class*=' icon-'].icon-th-large i:before {
  content: "\f009";
}

[class*=' icon-'].icon-th i:before {
  content: "\f00a";
}

[class*=' icon-'].icon-th-list i:before {
  content: "\f00b";
}

[class*=' icon-'].icon-check i:before {
  content: "\f00c";
}

[class*=' icon-'].icon-times i:before {
  content: "\f00d";
}

[class*=' icon-'].icon-search-plus i:before {
  content: "\f00e";
}

[class*=' icon-'].icon-search-minus i:before {
  content: "\f010";
}

[class*=' icon-'].icon-power-off i:before {
  content: "\f011";
}

[class*=' icon-'].icon-signal i:before {
  content: "\f012";
}

[class*=' icon-'].icon-cog i:before {
  content: "\f013";
}

[class*=' icon-'].icon-trash-o i:before {
  content: "\f014";
}

[class*=' icon-'].icon-home i:before {
  content: "\f015";
}

[class*=' icon-'].icon-file-o i:before {
  content: "\f016";
}

[class*=' icon-'].icon-clock-o i:before {
  content: "\f017";
}

[class*=' icon-'].icon-road i:before {
  content: "\f018";
}

[class*=' icon-'].icon-download i:before {
  content: "\f019";
}

[class*=' icon-'].icon-arrow-circle-o-down i:before {
  content: "\f01a";
}

[class*=' icon-'].icon-arrow-circle-o-up i:before {
  content: "\f01b";
}

[class*=' icon-'].icon-inbox i:before {
  content: "\f01c";
}

[class*=' icon-'].icon-play-circle-o i:before {
  content: "\f01d";
}

[class*=' icon-'].icon-repeat i:before {
  content: "\f01e";
}

[class*=' icon-'].icon-refresh i:before {
  content: "\f021";
}

[class*=' icon-'].icon-list-alt i:before {
  content: "\f022";
}

[class*=' icon-'].icon-lock i:before {
  content: "\f023";
}

[class*=' icon-'].icon-flag i:before {
  content: "\f024";
}

[class*=' icon-'].icon-headphones i:before {
  content: "\f025";
}

[class*=' icon-'].icon-volume-off i:before {
  content: "\f026";
}

[class*=' icon-'].icon-volume-down i:before {
  content: "\f027";
}

[class*=' icon-'].icon-volume-up i:before {
  content: "\f028";
}

[class*=' icon-'].icon-qrcode i:before {
  content: "\f029";
}

[class*=' icon-'].icon-barcode i:before {
  content: "\f02a";
}

[class*=' icon-'].icon-tag i:before {
  content: "\f02b";
}

[class*=' icon-'].icon-tags i:before {
  content: "\f02c";
}

[class*=' icon-'].icon-book i:before {
  content: "\f02d";
}

[class*=' icon-'].icon-bookmark i:before {
  content: "\f02e";
}

[class*=' icon-'].icon-print i:before {
  content: "\f02f";
}

[class*=' icon-'].icon-camera i:before {
  content: "\f030";
}

[class*=' icon-'].icon-font i:before {
  content: "\f031";
}

[class*=' icon-'].icon-bold i:before {
  content: "\f032";
}

[class*=' icon-'].icon-italic i:before {
  content: "\f033";
}

[class*=' icon-'].icon-text-height i:before {
  content: "\f034";
}

[class*=' icon-'].icon-text-width i:before {
  content: "\f035";
}

[class*=' icon-'].icon-align-left i:before {
  content: "\f036";
}

[class*=' icon-'].icon-align-center i:before {
  content: "\f037";
}

[class*=' icon-'].icon-align-right i:before {
  content: "\f038";
}

[class*=' icon-'].icon-align-justify i:before {
  content: "\f039";
}

[class*=' icon-'].icon-list i:before {
  content: "\f03a";
}

[class*=' icon-'].icon-outdent i:before {
  content: "\f03b";
}

[class*=' icon-'].icon-indent i:before {
  content: "\f03c";
}

[class*=' icon-'].icon-video-camera i:before {
  content: "\f03d";
}

[class*=' icon-'].icon-picture-o i:before {
  content: "\f03e";
}

[class*=' icon-'].icon-pencil i:before {
  content: "\f040";
}

[class*=' icon-'].icon-map-marker i:before {
  content: "\f041";
}

[class*=' icon-'].icon-adjust i:before {
  content: "\f042";
}

[class*=' icon-'].icon-tint i:before {
  content: "\f043";
}

[class*=' icon-'].icon-pencil-square-o i:before {
  content: "\f044";
}

[class*=' icon-'].icon-share-square-o i:before {
  content: "\f045";
}

[class*=' icon-'].icon-check-square-o i:before {
  content: "\f046";
}

[class*=' icon-'].icon-arrows i:before {
  content: "\f047";
}

[class*=' icon-'].icon-step-backward i:before {
  content: "\f048";
}

[class*=' icon-'].icon-t-backward i:before {
  content: "\f049";
}

[class*=' icon-'].icon-backward i:before {
  content: "\f04a";
}

[class*=' icon-'].icon-play i:before {
  content: "\f04b";
}

[class*=' icon-'].icon-pause i:before {
  content: "\f04c";
}

[class*=' icon-'].icon-stop i:before {
  content: "\f04d";
}

[class*=' icon-'].icon-forward i:before {
  content: "\f04e";
}

[class*=' icon-'].icon-t-forward i:before {
  content: "\f050";
}

[class*=' icon-'].icon-step-forward i:before {
  content: "\f051";
}

[class*=' icon-'].icon-eject i:before {
  content: "\f052";
}

[class*=' icon-'].icon-chevron-left i:before {
  content: "\f053";
}

[class*=' icon-'].icon-chevron-right i:before {
  content: "\f054";
}

[class*=' icon-'].icon-plus-circle i:before {
  content: "\f055";
}

[class*=' icon-'].icon-minus-circle i:before {
  content: "\f056";
}

[class*=' icon-'].icon-times-circle i:before {
  content: "\f057";
}

[class*=' icon-'].icon-check-circle i:before {
  content: "\f058";
}

[class*=' icon-'].icon-question-circle i:before {
  content: "\f059";
}

[class*=' icon-'].icon-info-circle i:before {
  content: "\f05a";
}

[class*=' icon-'].icon-crosshairs i:before {
  content: "\f05b";
}

[class*=' icon-'].icon-times-circle-o i:before {
  content: "\f05c";
}

[class*=' icon-'].icon-check-circle-o i:before {
  content: "\f05d";
}

[class*=' icon-'].icon-ban i:before {
  content: "\f05e";
}

[class*=' icon-'].icon-arrow-left i:before {
  content: "\f060";
}

[class*=' icon-'].icon-arrow-right i:before {
  content: "\f061";
}

[class*=' icon-'].icon-arrow-up i:before {
  content: "\f062";
}

[class*=' icon-'].icon-arrow-down i:before {
  content: "\f063";
}

[class*=' icon-'].icon-share i:before {
  content: "\f064";
}

[class*=' icon-'].icon-expand i:before {
  content: "\f065";
}

[class*=' icon-'].icon-compress i:before {
  content: "\f066";
}

[class*=' icon-'].icon-plus i:before {
  content: "\f067";
}

[class*=' icon-'].icon-minus i:before {
  content: "\f068";
}

[class*=' icon-'].icon-asterisk i:before {
  content: "\f069";
}

[class*=' icon-'].icon-exclamation-circle i:before {
  content: "\f06a";
}

[class*=' icon-'].icon-gift i:before {
  content: "\f06b";
}

[class*=' icon-'].icon-leaf i:before {
  content: "\f06c";
}

[class*=' icon-'].icon-fire i:before {
  content: "\f06d";
}

[class*=' icon-'].icon-eye i:before {
  content: "\f06e";
}

[class*=' icon-'].icon-eye-slash i:before {
  content: "\f070";
}

[class*=' icon-'].icon-exclamation-triangle i:before {
  content: "\f071";
}

[class*=' icon-'].icon-plane i:before {
  content: "\f072";
}

[class*=' icon-'].icon-calendar i:before {
  content: "\f073";
}

[class*=' icon-'].icon-random i:before {
  content: "\f074";
}

[class*=' icon-'].icon-comment i:before {
  content: "\f075";
}

[class*=' icon-'].icon-magnet i:before {
  content: "\f076";
}

[class*=' icon-'].icon-chevron-up i:before {
  content: "\f077";
}

[class*=' icon-'].icon-chevron-down i:before {
  content: "\f078";
}

[class*=' icon-'].icon-retweet i:before {
  content: "\f079";
}

[class*=' icon-'].icon-shopping-cart i:before {
  content: "\f07a";
}

[class*=' icon-'].icon-folder i:before {
  content: "\f07b";
}

[class*=' icon-'].icon-folder-open i:before {
  content: "\f07c";
}

[class*=' icon-'].icon-arrows-v i:before {
  content: "\f07d";
}

[class*=' icon-'].icon-arrows-h i:before {
  content: "\f07e";
}

[class*=' icon-'].icon-bar-chart i:before {
  content: "\f080";
}

[class*=' icon-'].icon-twitter-square i:before {
  content: "\f081";
}

[class*=' icon-'].icon-ebook-square i:before {
  content: "\f082";
}

[class*=' icon-'].icon-camera-retro i:before {
  content: "\f083";
}

[class*=' icon-'].icon-key i:before {
  content: "\f084";
}

[class*=' icon-'].icon-cogs i:before {
  content: "\f085";
}

[class*=' icon-'].icon-comments i:before {
  content: "\f086";
}

[class*=' icon-'].icon-thumbs-o-up i:before {
  content: "\f087";
}

[class*=' icon-'].icon-thumbs-o-down i:before {
  content: "\f088";
}

[class*=' icon-'].icon-star-half i:before {
  content: "\f089";
}

[class*=' icon-'].icon-heart-o i:before {
  content: "\f08a";
}

[class*=' icon-'].icon-sign-out i:before {
  content: "\f08b";
}

[class*=' icon-'].icon-linkedin-square i:before {
  content: "\f08c";
}

[class*=' icon-'].icon-thumb-tack i:before {
  content: "\f08d";
}

[class*=' icon-'].icon-external-link i:before {
  content: "\f08e";
}

[class*=' icon-'].icon-sign-in i:before {
  content: "\f090";
}

[class*=' icon-'].icon-trophy i:before {
  content: "\f091";
}

[class*=' icon-'].icon-github-square i:before {
  content: "\f092";
}

[class*=' icon-'].icon-upload i:before {
  content: "\f093";
}

[class*=' icon-'].icon-lemon-o i:before {
  content: "\f094";
}

[class*=' icon-'].icon-phone i:before {
  content: "\f095";
}

[class*=' icon-'].icon-square-o i:before {
  content: "\f096";
}

[class*=' icon-'].icon-bookmark-o i:before {
  content: "\f097";
}

[class*=' icon-'].icon-phone-square i:before {
  content: "\f098";
}

[class*=' icon-'].icon-twitter i:before {
  content: "\f099";
}

[class*=' icon-'].icon-ebook i:before {
  content: "\f09a";
}

[class*=' icon-'].icon-github i:before {
  content: "\f09b";
}

[class*=' icon-'].icon-unlock i:before {
  content: "\f09c";
}

[class*=' icon-'].icon-credit-card i:before {
  content: "\f09d";
}

[class*=' icon-'].icon-rss i:before {
  content: "\f09e";
}

[class*=' icon-'].icon-hdd-o i:before {
  content: "\f0a0";
}

[class*=' icon-'].icon-bullhorn i:before {
  content: "\f0a1";
}

[class*=' icon-'].icon-bell i:before {
  content: "\f0f3";
}

[class*=' icon-'].icon-certificate i:before {
  content: "\f0a3";
}

[class*=' icon-'].icon-hand-o-right i:before {
  content: "\f0a4";
}

[class*=' icon-'].icon-hand-o-left i:before {
  content: "\f0a5";
}

[class*=' icon-'].icon-hand-o-up i:before {
  content: "\f0a6";
}

[class*=' icon-'].icon-hand-o-down i:before {
  content: "\f0a7";
}

[class*=' icon-'].icon-arrow-circle-left i:before {
  content: "\f0a8";
}

[class*=' icon-'].icon-arrow-circle-right i:before {
  content: "\f0a9";
}

[class*=' icon-'].icon-arrow-circle-up i:before {
  content: "\f0aa";
}

[class*=' icon-'].icon-arrow-circle-down i:before {
  content: "\f0ab";
}

[class*=' icon-'].icon-globe i:before {
  content: "\f0ac";
}

[class*=' icon-'].icon-wrench i:before {
  content: "\f0ad";
}

[class*=' icon-'].icon-tasks i:before {
  content: "\f0ae";
}

[class*=' icon-'].icon-filter i:before {
  content: "\f0b0";
}

[class*=' icon-'].icon-briefcase i:before {
  content: "\f0b1";
}

[class*=' icon-'].icon-arrows-alt i:before {
  content: "\f0b2";
}

[class*=' icon-'].icon-users i:before {
  content: "\f0c0";
}

[class*=' icon-'].icon-link i:before {
  content: "\f0c1";
}

[class*=' icon-'].icon-cloud i:before {
  content: "\f0c2";
}

[class*=' icon-'].icon-flask i:before {
  content: "\f0c3";
}

[class*=' icon-'].icon-scissors i:before {
  content: "\f0c4";
}

[class*=' icon-'].icon-files-o i:before {
  content: "\f0c5";
}

[class*=' icon-'].icon-paperclip i:before {
  content: "\f0c6";
}

[class*=' icon-'].icon-floppy-o i:before {
  content: "\f0c7";
}

[class*=' icon-'].icon-square i:before {
  content: "\f0c8";
}

[class*=' icon-'].icon-bars i:before {
  content: "\f0c9";
}

[class*=' icon-'].icon-list-ul i:before {
  content: "\f0ca";
}

[class*=' icon-'].icon-list-ol i:before {
  content: "\f0cb";
}

[class*=' icon-'].icon-strikethrough i:before {
  content: "\f0cc";
}

[class*=' icon-'].icon-underline i:before {
  content: "\f0cd";
}

[class*=' icon-'].icon-table i:before {
  content: "\f0ce";
}

[class*=' icon-'].icon-magic i:before {
  content: "\f0d0";
}

[class*=' icon-'].icon-truck i:before {
  content: "\f0d1";
}

[class*=' icon-'].icon-pinterest i:before {
  content: "\f0d2";
}

[class*=' icon-'].icon-pinterest-square i:before {
  content: "\f0d3";
}

[class*=' icon-'].icon-google-plus-square i:before {
  content: "\f0d4";
}

[class*=' icon-'].icon-google-plus i:before {
  content: "\f0d5";
}

[class*=' icon-'].icon-money i:before {
  content: "\f0d6";
}

[class*=' icon-'].icon-caret-down i:before {
  content: "\f0d7";
}

[class*=' icon-'].icon-caret-up i:before {
  content: "\f0d8";
}

[class*=' icon-'].icon-caret-left i:before {
  content: "\f0d9";
}

[class*=' icon-'].icon-caret-right i:before {
  content: "\f0da";
}

[class*=' icon-'].icon-columns i:before {
  content: "\f0db";
}

[class*=' icon-'].icon-sort i:before {
  content: "\f0dc";
}

[class*=' icon-'].icon-sort-desc i:before {
  content: "\f0dd";
}

[class*=' icon-'].icon-sort-asc i:before {
  content: "\f0de";
}

[class*=' icon-'].icon-envelope i:before {
  content: "\f0e0";
}

[class*=' icon-'].icon-linkedin i:before {
  content: "\f0e1";
}

[class*=' icon-'].icon-undo i:before {
  content: "\f0e2";
}

[class*=' icon-'].icon-gavel i:before {
  content: "\f0e3";
}

[class*=' icon-'].icon-tachometer i:before {
  content: "\f0e4";
}

[class*=' icon-'].icon-comment-o i:before {
  content: "\f0e5";
}

[class*=' icon-'].icon-comments-o i:before {
  content: "\f0e6";
}

[class*=' icon-'].icon-bolt i:before {
  content: "\f0e7";
}

[class*=' icon-'].icon-sitemap i:before {
  content: "\f0e8";
}

[class*=' icon-'].icon-umbrella i:before {
  content: "\f0e9";
}

[class*=' icon-'].icon-clipboard i:before {
  content: "\f0ea";
}

[class*=' icon-'].icon-lightbulb-o i:before {
  content: "\f0eb";
}

[class*=' icon-'].icon-exchange i:before {
  content: "\f0ec";
}

[class*=' icon-'].icon-cloud-download i:before {
  content: "\f0ed";
}

[class*=' icon-'].icon-cloud-upload i:before {
  content: "\f0ee";
}

[class*=' icon-'].icon-user-md i:before {
  content: "\f0f0";
}

[class*=' icon-'].icon-stethoscope i:before {
  content: "\f0f1";
}

[class*=' icon-'].icon-suitcase i:before {
  content: "\f0f2";
}

[class*=' icon-'].icon-bell-o i:before {
  content: "\f0a2";
}

[class*=' icon-'].icon-coffee i:before {
  content: "\f0f4";
}

[class*=' icon-'].icon-cutlery i:before {
  content: "\f0f5";
}

[class*=' icon-'].icon-file-text-o i:before {
  content: "\f0f6";
}

[class*=' icon-'].icon-building-o i:before {
  content: "\f0f7";
}

[class*=' icon-'].icon-hospital-o i:before {
  content: "\f0f8";
}

[class*=' icon-'].icon-ambulance i:before {
  content: "\f0f9";
}

[class*=' icon-'].icon-fighter-jet i:before {
  content: "\f0fb";
}

[class*=' icon-'].icon-beer i:before {
  content: "\f0fc";
}

[class*=' icon-'].icon-h-square i:before {
  content: "\f0fd";
}

[class*=' icon-'].icon-plus-square i:before {
  content: "\f0fe";
}

[class*=' icon-'].icon-angle-double-left i:before {
  content: "\f100";
}

[class*=' icon-'].icon-angle-double-right i:before {
  content: "\f101";
}

[class*=' icon-'].icon-angle-double-up i:before {
  content: "\f102";
}

[class*=' icon-'].icon-angle-double-down i:before {
  content: "\f103";
}

[class*=' icon-'].icon-angle-left i:before {
  content: "\f104";
}

[class*=' icon-'].icon-angle-right i:before {
  content: "\f105";
}

[class*=' icon-'].icon-angle-up i:before {
  content: "\f106";
}

[class*=' icon-'].icon-angle-down i:before {
  content: "\f107";
}

[class*=' icon-'].icon-desktop i:before {
  content: "\f108";
}

[class*=' icon-'].icon-laptop i:before {
  content: "\f109";
}

[class*=' icon-'].icon-tablet i:before {
  content: "\f10a";
}

[class*=' icon-'].icon-mobile i:before {
  content: "\f10b";
}

[class*=' icon-'].icon-circle-o i:before {
  content: "\f10c";
}

[class*=' icon-'].icon-quote-left i:before {
  content: "\f10d";
}

[class*=' icon-'].icon-quote-right i:before {
  content: "\f10e";
}

[class*=' icon-'].icon-spinner i:before {
  content: "\f110";
}

[class*=' icon-'].icon-circle i:before {
  content: "\f111";
}

[class*=' icon-'].icon-reply i:before {
  content: "\f112";
}

[class*=' icon-'].icon-github-alt i:before {
  content: "\f113";
}

[class*=' icon-'].icon-folder-o i:before {
  content: "\f114";
}

[class*=' icon-'].icon-folder-open-o i:before {
  content: "\f115";
}

[class*=' icon-'].icon-smile-o i:before {
  content: "\f118";
}

[class*=' icon-'].icon-frown-o i:before {
  content: "\f119";
}

[class*=' icon-'].icon-meh-o i:before {
  content: "\f11a";
}

[class*=' icon-'].icon-gamepad i:before {
  content: "\f11b";
}

[class*=' icon-'].icon-keyboard-o i:before {
  content: "\f11c";
}

[class*=' icon-'].icon-flag-o i:before {
  content: "\f11d";
}

[class*=' icon-'].icon-flag-checkered i:before {
  content: "\f11e";
}

[class*=' icon-'].icon-terminal i:before {
  content: "\f120";
}

[class*=' icon-'].icon-code i:before {
  content: "\f121";
}

[class*=' icon-'].icon-reply-all i:before {
  content: "\f122";
}

[class*=' icon-'].icon-star-half-o i:before {
  content: "\f123";
}

[class*=' icon-'].icon-location-arrow i:before {
  content: "\f124";
}

[class*=' icon-'].icon-crop i:before {
  content: "\f125";
}

[class*=' icon-'].icon-code-fork i:before {
  content: "\f126";
}

[class*=' icon-'].icon-chain-broken i:before {
  content: "\f127";
}

[class*=' icon-'].icon-question i:before {
  content: "\f128";
}

[class*=' icon-'].icon-info i:before {
  content: "\f129";
}

[class*=' icon-'].icon-exclamation i:before {
  content: "\f12a";
}

[class*=' icon-'].icon-superscript i:before {
  content: "\f12b";
}

[class*=' icon-'].icon-subscript i:before {
  content: "\f12c";
}

[class*=' icon-'].icon-eraser i:before {
  content: "\f12d";
}

[class*=' icon-'].icon-puzzle-piece i:before {
  content: "\f12e";
}

[class*=' icon-'].icon-microphone i:before {
  content: "\f130";
}

[class*=' icon-'].icon-microphone-slash i:before {
  content: "\f131";
}

[class*=' icon-'].icon-shield i:before {
  content: "\f132";
}

[class*=' icon-'].icon-calendar-o i:before {
  content: "\f133";
}

[class*=' icon-'].icon-fire-extinguisher i:before {
  content: "\f134";
}

[class*=' icon-'].icon-rocket i:before {
  content: "\f135";
}

[class*=' icon-'].icon-maxcdn i:before {
  content: "\f136";
}

[class*=' icon-'].icon-chevron-circle-left i:before {
  content: "\f137";
}

[class*=' icon-'].icon-chevron-circle-right i:before {
  content: "\f138";
}

[class*=' icon-'].icon-chevron-circle-up i:before {
  content: "\f139";
}

[class*=' icon-'].icon-chevron-circle-down i:before {
  content: "\f13a";
}

[class*=' icon-'].icon-html5 i:before {
  content: "\f13b";
}

[class*=' icon-'].icon-css3 i:before {
  content: "\f13c";
}

[class*=' icon-'].icon-anchor i:before {
  content: "\f13d";
}

[class*=' icon-'].icon-unlock-alt i:before {
  content: "\f13e";
}

[class*=' icon-'].icon-bullseye i:before {
  content: "\f140";
}

[class*=' icon-'].icon-ellipsis-h i:before {
  content: "\f141";
}

[class*=' icon-'].icon-ellipsis-v i:before {
  content: "\f142";
}

[class*=' icon-'].icon-rss-square i:before {
  content: "\f143";
}

[class*=' icon-'].icon-play-circle i:before {
  content: "\f144";
}

[class*=' icon-'].icon-ticket i:before {
  content: "\f145";
}

[class*=' icon-'].icon-minus-square i:before {
  content: "\f146";
}

[class*=' icon-'].icon-minus-square-o i:before {
  content: "\f147";
}

[class*=' icon-'].icon-level-up i:before {
  content: "\f148";
}

[class*=' icon-'].icon-level-down i:before {
  content: "\f149";
}

[class*=' icon-'].icon-check-square i:before {
  content: "\f14a";
}

[class*=' icon-'].icon-pencil-square i:before {
  content: "\f14b";
}

[class*=' icon-'].icon-external-link-square i:before {
  content: "\f14c";
}

[class*=' icon-'].icon-share-square i:before {
  content: "\f14d";
}

[class*=' icon-'].icon-compass i:before {
  content: "\f14e";
}

[class*=' icon-'].icon-caret-square-o-down i:before {
  content: "\f150";
}

[class*=' icon-'].icon-caret-square-o-up i:before {
  content: "\f151";
}

[class*=' icon-'].icon-caret-square-o-right i:before {
  content: "\f152";
}

[class*=' icon-'].icon-eur i:before {
  content: "\f153";
}

[class*=' icon-'].icon-gbp i:before {
  content: "\f154";
}

[class*=' icon-'].icon-usd i:before {
  content: "\f155";
}

[class*=' icon-'].icon-inr i:before {
  content: "\f156";
}

[class*=' icon-'].icon-jpy i:before {
  content: "\f157";
}

[class*=' icon-'].icon-rub i:before {
  content: "\f158";
}

[class*=' icon-'].icon-krw i:before {
  content: "\f159";
}

[class*=' icon-'].icon-btc i:before {
  content: "\f15a";
}

[class*=' icon-'].icon-file i:before {
  content: "\f15b";
}

[class*=' icon-'].icon-file-text i:before {
  content: "\f15c";
}

[class*=' icon-'].icon-sort-alpha-asc i:before {
  content: "\f15d";
}

[class*=' icon-'].icon-sort-alpha-desc i:before {
  content: "\f15e";
}

[class*=' icon-'].icon-sort-amount-asc i:before {
  content: "\f160";
}

[class*=' icon-'].icon-sort-amount-desc i:before {
  content: "\f161";
}

[class*=' icon-'].icon-sort-numeric-asc i:before {
  content: "\f162";
}

[class*=' icon-'].icon-sort-numeric-desc i:before {
  content: "\f163";
}

[class*=' icon-'].icon-thumbs-up i:before {
  content: "\f164";
}

[class*=' icon-'].icon-thumbs-down i:before {
  content: "\f165";
}

[class*=' icon-'].icon-youtube-square i:before {
  content: "\f166";
}

[class*=' icon-'].icon-youtube i:before {
  content: "\f167";
}

[class*=' icon-'].icon-xing i:before {
  content: "\f168";
}

[class*=' icon-'].icon-xing-square i:before {
  content: "\f169";
}

[class*=' icon-'].icon-youtube-play i:before {
  content: "\f16a";
}

[class*=' icon-'].icon-dropbox i:before {
  content: "\f16b";
}

[class*=' icon-'].icon-stack-overflow i:before {
  content: "\f16c";
}

[class*=' icon-'].icon-instagram i:before {
  content: "\f16d";
}

[class*=' icon-'].icon-flickr i:before {
  content: "\f16e";
}

[class*=' icon-'].icon-adn i:before {
  content: "\f170";
}

[class*=' icon-'].icon-bitbucket i:before {
  content: "\f171";
}

[class*=' icon-'].icon-bitbucket-square i:before {
  content: "\f172";
}

[class*=' icon-'].icon-tumblr i:before {
  content: "\f173";
}

[class*=' icon-'].icon-tumblr-square i:before {
  content: "\f174";
}

[class*=' icon-'].icon-long-arrow-down i:before {
  content: "\f175";
}

[class*=' icon-'].icon-long-arrow-up i:before {
  content: "\f176";
}

[class*=' icon-'].icon-long-arrow-left i:before {
  content: "\f177";
}

[class*=' icon-'].icon-long-arrow-right i:before {
  content: "\f178";
}

[class*=' icon-'].icon-apple i:before {
  content: "\f179";
}

[class*=' icon-'].icon-windows i:before {
  content: "\f17a";
}

[class*=' icon-'].icon-android i:before {
  content: "\f17b";
}

[class*=' icon-'].icon-linux i:before {
  content: "\f17c";
}

[class*=' icon-'].icon-dribbble i:before {
  content: "\f17d";
}

[class*=' icon-'].icon-skype i:before {
  content: "\f17e";
}

[class*=' icon-'].icon-foursquare i:before {
  content: "\f180";
}

[class*=' icon-'].icon-trello i:before {
  content: "\f181";
}

[class*=' icon-'].icon-female i:before {
  content: "\f182";
}

[class*=' icon-'].icon-male i:before {
  content: "\f183";
}

[class*=' icon-'].icon-gittip i:before {
  content: "\f184";
}

[class*=' icon-'].icon-sun-o i:before {
  content: "\f185";
}

[class*=' icon-'].icon-moon-o i:before {
  content: "\f186";
}

[class*=' icon-'].icon-archive i:before {
  content: "\f187";
}

[class*=' icon-'].icon-bug i:before {
  content: "\f188";
}

[class*=' icon-'].icon-vk i:before {
  content: "\f189";
}

[class*=' icon-'].icon-weibo i:before {
  content: "\f18a";
}

[class*=' icon-'].icon-renren i:before {
  content: "\f18b";
}

[class*=' icon-'].icon-pagelines i:before {
  content: "\f18c";
}

[class*=' icon-'].icon-stack-exchange i:before {
  content: "\f18d";
}

[class*=' icon-'].icon-arrow-circle-o-right i:before {
  content: "\f18e";
}

[class*=' icon-'].icon-arrow-circle-o-left i:before {
  content: "\f190";
}

[class*=' icon-'].icon-caret-square-o-left i:before {
  content: "\f191";
}

[class*=' icon-'].icon-dot-circle-o i:before {
  content: "\f192";
}

[class*=' icon-'].icon-wheelchair i:before {
  content: "\f193";
}

[class*=' icon-'].icon-vimeo-square i:before {
  content: "\f194";
}

[class*=' icon-'].icon-try i:before {
  content: "\f195";
}

[class*=' icon-'].icon-plus-square-o i:before {
  content: "\f196";
}

[class*=' icon-'].icon-space-shuttle i:before {
  content: "\f197";
}

[class*=' icon-'].icon-slack i:before {
  content: "\f198";
}

[class*=' icon-'].icon-envelope-square i:before {
  content: "\f199";
}

[class*=' icon-'].icon-wordpress i:before {
  content: "\f19a";
}

[class*=' icon-'].icon-openid i:before {
  content: "\f19b";
}

[class*=' icon-'].icon-university i:before {
  content: "\f19c";
}

[class*=' icon-'].icon-graduation-cap i:before {
  content: "\f19d";
}

[class*=' icon-'].icon-yahoo i:before {
  content: "\f19e";
}

[class*=' icon-'].icon-google i:before {
  content: "\f1a0";
}

[class*=' icon-'].icon-reddit i:before {
  content: "\f1a1";
}

[class*=' icon-'].icon-reddit-square i:before {
  content: "\f1a2";
}

[class*=' icon-'].icon-stumbleupon-circle i:before {
  content: "\f1a3";
}

[class*=' icon-'].icon-stumbleupon i:before {
  content: "\f1a4";
}

[class*=' icon-'].icon-delicious i:before {
  content: "\f1a5";
}

[class*=' icon-'].icon-digg i:before {
  content: "\f1a6";
}

[class*=' icon-'].icon-pied-piper i:before {
  content: "\f1a7";
}

[class*=' icon-'].icon-pied-piper-alt i:before {
  content: "\f1a8";
}

[class*=' icon-'].icon-drupal i:before {
  content: "\f1a9";
}

[class*=' icon-'].icon-joomla i:before {
  content: "\f1aa";
}

[class*=' icon-'].icon-language i:before {
  content: "\f1ab";
}

[class*=' icon-'].icon- i:before {
  content: "\f1ac";
}

[class*=' icon-'].icon-building i:before {
  content: "\f1ad";
}

[class*=' icon-'].icon-child i:before {
  content: "\f1ae";
}

[class*=' icon-'].icon-paw i:before {
  content: "\f1b0";
}

[class*=' icon-'].icon-spoon i:before {
  content: "\f1b1";
}

[class*=' icon-'].icon-cube i:before {
  content: "\f1b2";
}

[class*=' icon-'].icon-cubes i:before {
  content: "\f1b3";
}

[class*=' icon-'].icon-behance i:before {
  content: "\f1b4";
}

[class*=' icon-'].icon-behance-square i:before {
  content: "\f1b5";
}

[class*=' icon-'].icon-steam i:before {
  content: "\f1b6";
}

[class*=' icon-'].icon-steam-square i:before {
  content: "\f1b7";
}

[class*=' icon-'].icon-recycle i:before {
  content: "\f1b8";
}

[class*=' icon-'].icon-car i:before {
  content: "\f1b9";
}

[class*=' icon-'].icon-taxi i:before {
  content: "\f1ba";
}

[class*=' icon-'].icon-tree i:before {
  content: "\f1bb";
}

[class*=' icon-'].icon-spotify i:before {
  content: "\f1bc";
}

[class*=' icon-'].icon-deviantart i:before {
  content: "\f1bd";
}

[class*=' icon-'].icon-soundcloud i:before {
  content: "\f1be";
}

[class*=' icon-'].icon-database i:before {
  content: "\f1c0";
}

[class*=' icon-'].icon-file-pdf-o i:before {
  content: "\f1c1";
}

[class*=' icon-'].icon-file-word-o i:before {
  content: "\f1c2";
}

[class*=' icon-'].icon-file-excel-o i:before {
  content: "\f1c3";
}

[class*=' icon-'].icon-file-powerpoint-o i:before {
  content: "\f1c4";
}

[class*=' icon-'].icon-file-image-o i:before {
  content: "\f1c5";
}

[class*=' icon-'].icon-file-archive-o i:before {
  content: "\f1c6";
}

[class*=' icon-'].icon-file-audio-o i:before {
  content: "\f1c7";
}

[class*=' icon-'].icon-file-video-o i:before {
  content: "\f1c8";
}

[class*=' icon-'].icon-file-code-o i:before {
  content: "\f1c9";
}

[class*=' icon-'].icon-vine i:before {
  content: "\f1ca";
}

[class*=' icon-'].icon-codepen i:before {
  content: "\f1cb";
}

[class*=' icon-'].icon-jsfiddle i:before {
  content: "\f1cc";
}

[class*=' icon-'].icon-life-ring i:before {
  content: "\f1cd";
}

[class*=' icon-'].icon-circle-o-notch i:before {
  content: "\f1ce";
}

[class*=' icon-'].icon-rebel i:before {
  content: "\f1d0";
}

[class*=' icon-'].icon-empire i:before {
  content: "\f1d1";
}

[class*=' icon-'].icon-git-square i:before {
  content: "\f1d2";
}

[class*=' icon-'].icon-git i:before {
  content: "\f1d3";
}

[class*=' icon-'].icon-hacker-news i:before {
  content: "\f1d4";
}

[class*=' icon-'].icon-tencent-weibo i:before {
  content: "\f1d5";
}

[class*=' icon-'].icon-qq i:before {
  content: "\f1d6";
}

[class*=' icon-'].icon-weixin i:before {
  content: "\f1d7";
}

[class*=' icon-'].icon-paper-plane i:before {
  content: "\f1d8";
}

[class*=' icon-'].icon-paper-plane-o i:before {
  content: "\f1d9";
}

[class*=' icon-'].icon-history i:before {
  content: "\f1da";
}

[class*=' icon-'].icon-circle-thin i:before {
  content: "\f1db";
}

[class*=' icon-'].icon-header i:before {
  content: "\f1dc";
}

[class*=' icon-'].icon-paragraph i:before {
  content: "\f1dd";
}

[class*=' icon-'].icon-sliders i:before {
  content: "\f1de";
}

[class*=' icon-'].icon-share-alt i:before {
  content: "\f1e0";
}

[class*=' icon-'].icon-share-alt-square i:before {
  content: "\f1e1";
}

[class*=' icon-'].icon-bomb i:before {
  content: "\f1e2";
}

[class*=' icon-'].icon-futbol-o i:before {
  content: "\f1e3";
}

[class*=' icon-'].icon-tty i:before {
  content: "\f1e4";
}

[class*=' icon-'].icon-binoculars i:before {
  content: "\f1e5";
}

[class*=' icon-'].icon-plug i:before {
  content: "\f1e6";
}

[class*=' icon-'].icon-slideshare i:before {
  content: "\f1e7";
}

[class*=' icon-'].icon-twitch i:before {
  content: "\f1e8";
}

[class*=' icon-'].icon-yelp i:before {
  content: "\f1e9";
}

[class*=' icon-'].icon-newspaper-o i:before {
  content: "\f1ea";
}

[class*=' icon-'].icon-wifi i:before {
  content: "\f1eb";
}

[class*=' icon-'].icon-calculator i:before {
  content: "\f1ec";
}

[class*=' icon-'].icon-paypal i:before {
  content: "\f1ed";
}

[class*=' icon-'].icon-google-wallet i:before {
  content: "\f1ee";
}

[class*=' icon-'].icon-cc-visa i:before {
  content: "\f1f0";
}

[class*=' icon-'].icon-cc-mastercard i:before {
  content: "\f1f1";
}

[class*=' icon-'].icon-cc-discover i:before {
  content: "\f1f2";
}

[class*=' icon-'].icon-cc-amex i:before {
  content: "\f1f3";
}

[class*=' icon-'].icon-cc-paypal i:before {
  content: "\f1f4";
}

[class*=' icon-'].icon-cc-stripe i:before {
  content: "\f1f5";
}

[class*=' icon-'].icon-bell-slash i:before {
  content: "\f1f6";
}

[class*=' icon-'].icon-bell-slash-o i:before {
  content: "\f1f7";
}

[class*=' icon-'].icon-trash i:before {
  content: "\f1f8";
}

[class*=' icon-'].icon-copyright i:before {
  content: "\f1f9";
}

[class*=' icon-'].icon-eyedropper i:before {
  content: "\f1fb";
}

[class*=' icon-'].icon-paint-brush i:before {
  content: "\f1fc";
}

[class*=' icon-'].icon-birthday-cake i:before {
  content: "\f1fd";
}

[class*=' icon-'].icon-area-chart i:before {
  content: "\f1fe";
}

[class*=' icon-'].icon-pie-chart i:before {
  content: "\f200";
}

[class*=' icon-'].icon-line-chart i:before {
  content: "\f201";
}

[class*=' icon-'].icon-lastfm i:before {
  content: "\f202";
}

[class*=' icon-'].icon-lastfm-square i:before {
  content: "\f203";
}

[class*=' icon-'].icon-toggle-off i:before {
  content: "\f204";
}

[class*=' icon-'].icon-toggle-on i:before {
  content: "\f205";
}

[class*=' icon-'].icon-bicycle i:before {
  content: "\f206";
}

[class*=' icon-'].icon-bus i:before {
  content: "\f207";
}

[class*=' icon-'].icon-ioxhost i:before {
  content: "\f208";
}

[class*=' icon-'].icon-angellist i:before {
  content: "\f209";
}

[class*=' icon-'].icon-cc i:before {
  content: "\f20a";
}

[class*=' icon-'].icon-ils i:before {
  content: "\f20b";
}

[class*=' icon-'].icon-meanpath i:before {
  content: "\f20c";
}
