// MARGINS

// @for $i from 0 through 10 {
//     .mt-#{$i}0 {
//         margin-top: #{$i}0vh;
//     }
//     .mb-#{$i}0 {
//         margin-bottom: #{$i}0vh;
//     }
//     .ml-#{$i}0 {
//         margin-left: #{$i}0vw;
//     }
//     .mr-#{$i}0 {
//         margin-right: #{$i}0vw;
//     }
// }

$max: 100;
$step: 5;
@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1)*$step;
  .mt-#{$value} {
    margin-bottom: #{$value}vh;
  }
  .mt-#{$value} {
    margin-top: #{$value}vh;
  }
  .ml-#{$value} {
    margin-left: #{$value}vw;
  }
  .mr-#{$value} {
    margin-right: #{$value}vw;
  }
}

// END OF MARGINS
