.masonry .row.containerNested {
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -moz-column-width: 50%;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  -webkit-column-width: 50%;
  column-count: 2;
  column-gap: 0;
  column-width: 50%;

  [class*='col-'] {
    width: 100%;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
  }
}


$max: 10;
$step: 1;
@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1)*$step;
  .masonryCol-#{$value} .row.containerNested {
    -moz-column-count: #{$value};
    -moz-column-gap: 0;
    -moz-column-width: 50%;
    -webkit-column-count: #{$value};
    -webkit-column-gap: 0;
    -webkit-column-width: 50%;
    column-count: #{$value};
    column-gap: 0;
    column-width: 50%;

    [class*='col-'] {
      margin-bottom: 0;
      width: 100%;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
    }
  }
}

$max: 10;
$step: 1;
@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1)*$step;
  .masonryColSpacing-#{$value} .row.containerNested {
    // -moz-column-count: #{$value};
    -moz-column-gap: #{$value}vh;
    // -moz-column-width: 50%;
    // -webkit-column-count: #{$value};
    -webkit-column-gap: #{$value}vh;
    // -webkit-column-width: 50%;
    // column-count: #{$value};
    column-gap: #{$value}vh;
    // column-width: 50%;

    [class*='col-'] {
      margin-bottom: #{$value}vh;
      // width: 100%;
      // -webkit-column-break-inside: avoid;
      // -moz-column-break-inside: avoid;
      // column-break-inside: avoid;
    }
  }
}

@media screen and (max-width: 769px) {
  .masonry .row.containerNested {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  $max: 10;
  $step: 1;
  @for $i from 1 through ceil($max/$step) {
    $value: ($i - 1)*$step;
    .masonryCol-#{$value} .row.containerNested {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
  }
}
