// 1. SPACING WITHIN ITEMS

// SPACING WITHIN ITEMS

$max: 100;
$step: 2;
@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1)*$step;
  .space-#{$value} ul li a{
    padding-left: #{$value}px;
    padding-right: #{$value}px;
  }
}

// END SPACING WITHIN ITEMS
