// PADDINGS
// @for $i from 0 through 10 {
//   .pdb-#{$i}0 {
//     padding-bottom: #{$i}0vh;
//   }
//
//   .pdt-#{$i}0 {
//     padding-top: #{$i}0vh;
//   }
//
//   .pdl-#{$i}0 {
//     padding-left: #{$i}0vw;
//   }
//
//   .pdr-#{$i}0 {
//     padding-right: #{$i}0vw;
//   }
// }

// //  foreach with step function //
$max: 100;
$step: 5;
@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1)*$step;
  .pdb-#{$value} {
    padding-bottom: #{$value}vh;
  }
  .pdt-#{$value} {
    padding-top: #{$value}vh;
  }
  .pdl-#{$value} {
    padding-left: #{$value}vw;
  }
  .pdr-#{$value} {
    padding-right: #{$value}vw;
  }
}

// END OF PADDINGS
