.timeline [class*=' col-']:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 12px;
  left: -4px;
  background: #a7d42e;
  border-radius: 50%;
}

.timeline [class*=' col-']:last-child:before {
  background: transparent;
}

.timeline [class*=' col-']:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 12px;
  left: 0px;
  background: #ccc;
}
