// 1. TEXT ALING
// 2. LETTER SPACING
// 3. LINE HEIGHT
// 4. FONT STYLE
// 5. TEXT INDENT
// 6. TEXT TRANSFORM
// 7. FONT WEIGHT
// 8. FONT SIZES



// TEXT ALIGN
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}
// END OF TEXT ALIGN
// LETTER SPACING
// END OF LETTER SPACING
// LINE-HEIGHT
  $max: 100;
  $step: 2;
  @for $i from 1 through ceil($max/$step) {
    $value: ($i - 1)*$step;
    .line-#{$value} {
      line-height: #{$value}px;
    }
    .line-#{$value} h1{
      line-height: #{$value}px;
    }
    .line-#{$value} h2{
      line-height: #{$value}px;
    }
    .line-#{$value} h3{
      line-height: #{$value}px;
    }
    .line-#{$value} h4{
      line-height: #{$value}px;
    }
    .line-#{$value} h5{
      line-height: #{$value}px;
    }
    .line-#{$value} h6{
      line-height: #{$value}px;
    }
    .line-#{$value} p{
      line-height: #{$value}px;
    }
  }
// END OF LINE HEIGHT
// FONT STYLE
.text-normal {
  font-style: normal;
}

.text-italic {
  font-style: italic;
}

.text-oblique {
  font-style: oblique;
}
// END OF FONT STYLE


// TEXT INDENT
.text-indent {
  text-indent: 50px;
}
// END OFM TEXT INDENT


// TEXT TRANSFORM

.transform-uppercase {
    text-transform: uppercase;
}

.transform-lowercase {
    text-transform: lowercase;
}

.transform-capitalize {
    text-transform: capitalize;
}

// END OF TEXT TRANSFORM

// FONT WEIGHT

@for $i from 0 through 9 {
    .weight-#{$i}00 {
        font-weight: #{$i}00;
    }
    .weight-#{$i}00 h1{
        font-weight: #{$i}00;
    }
    .weight-#{$i}00 h2{
        font-weight: #{$i}00;
    }
    .weight-#{$i}00 h3{
        font-weight: #{$i}00;
    }
    .weight-#{$i}00 h4{
        font-weight: #{$i}00;
    }
    .weight-#{$i}00 h5{
        font-weight: #{$i}00;
    }
    .weight-#{$i}00 h6{
        font-weight: #{$i}00;
    }
    .weight-#{$i}00 p{
        font-weight: #{$i}00;
    }
}

// END OF FONT WEIGHT

// FONT SIZES
$max: 100;
$step: 2;
@for $i from 1 through ceil($max/$step) {
  $value: ($i - 1)*$step;
  .font-#{$value} {
    font-size: #{$value}px;
    line-height: ceil($value * 1.5) + px;
  }
  .font-#{$value} h1{
    font-size: #{$value}px;
    line-height: ceil($value * 1.5) + px;
  }
  .font-#{$value} h2{
    font-size: #{$value}px;
    line-height: ceil($value * 1.5) + px;
  }
  .font-#{$value} h3{
    font-size: #{$value}px;
    line-height: ceil($value * 1.5) + px;
  }
  .font-#{$value} h4{
    font-size: #{$value}px;
    line-height: ceil($value * 1.5) + px;
  }
  .font-#{$value} h5{
    font-size: #{$value}px;
    line-height: ceil($value * 1.5) + px;
  }
  .font-#{$value} h6{
    font-size: #{$value}px;
    line-height: ceil($value * 1.5) + px;
  }
  .font-#{$value} p{
    font-size: #{$value}px;
    line-height: ceil($value * 1.5) + px;
  }
}

// END OF FONT SIZES
