// VERTICAL ALIGMENT
[class*=' vertical-'] {
  max-width: 100%;
  display: table;
  table-layout: fixed;
  .row {
    height: 100%;
    width: 100%;
    display: table-cell;
  }
}
.vertical {
  &-center {
    .row {
      vertical-align: middle;
    }
  }
  &-top {
    .row {
      vertical-align: top;
    }
  }
  &-bottom {
    .row {
      vertical-align: bottom;
    }
  }
}

.container-fluid:not(.container) {
  width: 100%;
}
// END OF VERTICAL ALIGMENT
