@import url( 'https://fonts.googleapis.com/css?family=Work+Sans');
$family-sans-serif: 'Work Sans', sans-serif;
@import "./partial/_bootstrapVitaminOverrides";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "./partial/_paddings";
@import "./partial/_margins";
@import "./partial/_sectionSizes";
@import "./partial/_backgroundEffects";
@import "./partial/_verticalAlign";
@import "./partial/_opacity";
@import "./partial/_filters";
@import "./partial/_floats";
@import "./partial/_typography";
@import "./partial/_fontIcons";
@import "./partial/_positions";
@import "./partial/_links";
@import "./partial/_navigation";
@import "./partial/_photoFilters";
@import "./partial/_masonryLayout";
@import "./partial/_timeline";


* {
    -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
}
.container-fluid {
  position: relative;
}

.container-fluid.parallax {
  width: 100%;
}

.container-fluid.container::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  right: -50%;
  top: 0;
  background-color: inherit;
  z-index: -1;
}

.container-fluid.container::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: -50%;
  top: 0;
  background-color: inherit;
  z-index: -1;
}
// for vitamin
[class*=' icon-'] i {
  color: white;
  background-color: #dd137b;
}
// for virtamin end
