<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {{ partial "header.html" }}
      {{ .Content }}
    {{ partial "footer.html" }}
  </body>
</html>
